.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  border: 3px solid black;
  text-align: center;
  margin: auto;
  margin-top: 7rem;
  max-width: 40%;
  padding: 1rem;
  border-radius: 0.5rem;
  border-style: double dashed;
}
input {
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
}
